.pagination {
	gap: 20px;

	.page-item {
		.page-link {
			border-radius: 54px;
			border: 2px solid #fff;
			padding: 16px;
			color: #0a0000;
			text-align: center;
			font-size: 16px;
			font-weight: 600;
			line-height: normal;
			width: 54px;
			height: 54px;
			background: transparent;
			font-family: 'Manrope', sans-serif;

			&:focus {
				box-shadow: none;
			}
		}

		&:last-child,
		&:first-child {
			.page-link {
				border-radius: 54px;
				background: #fff;

				span {
					opacity: 0;
				}

				&::after {
					content: '';
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z'%3E%3C/path%3E%3C/svg%3E");
					width: 30px;
					height: 30px;
					background-repeat: no-repeat;
					background-size: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 10px;
					left: 10px;
				}
			}
		}

		&:first-child {
			.page-link {
				&::after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z'%3E%3C/path%3E%3C/svg%3E");
				}
			}
		}

		&.active {
			.page-link {
				background: #e73232;
				box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
				color: #fff;
				border-color: #e73232;
			}
		}
	}
}

@media (max-width: 991px) {
	.pagination {
		gap: 10px;

		.page-item {
			.page-link {
				width: 40px;
				height: 40px;
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				&:last-child,
				&:first-child {
					&::after {
						width: 20px;
						height: 20px;
						top: 8px;
					}
				}
			}
		}
	}
}
