.modal-close-btn {
	width: 30px;
	height: 30px;
	position: absolute;
	right: -15px;
	top: -15px;
	background: #fff;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
	i {
		font-size: 20px;
	}
}

.modal-title {
	color: #0a0000;
	text-align: center;
	font-size: 26px;
	font-weight: 800;
	line-height: normal;
	margin-bottom: 30px;
	font-family: 'Manrope', sans-serif;
}
.modal-description {
	color: #676666;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Manrope', sans-serif;
}
.modal-subtitle {
	color: #111;
	font-size: 22px;
	font-weight: 600;
	line-height: 24px;
	font-family: 'Manrope', sans-serif;
}
.delete-btn {
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #676666;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-body {
	padding: 30px !important;
	.primary-btn,
	.secondary-btn {
		width: 50%;
		max-width: 100%;
	}
	.amount-display {
		border-radius: 8px;
		border: 1px dashed #009154;
		background: #fff;
		padding: 20px;
		color: #0a0000;
		text-align: center;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		font-family: 'Manrope', sans-serif;
		span {
			color: #009154;
		}
	}
	.hint-text {
		color: #676666;
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
		font-family: 'Manrope', sans-serif;
		b {
			color: #0a0000;
		}
	}
}
.modal-custom-header {
	padding: 30px;
	border-bottom: 1px solid #f3f3f3;
	&-data {
		width: 100%;
		max-width: 330px;
		margin: 0 auto;
		z-index: 2;
		&::before {
			content: '';
			position: absolute;
			border: 2px dashed #ffeded;
			width: 85%;
			left: 35px;
			top: 12px;
			z-index: 1;
		}
	}
	.number {
		border-radius: 30px;
		border: 3px solid var(--White, #fff);
		background: var(--Stroke, #f3f3f3);
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
		width: 30px;
		height: 30px;
		padding: 3px 0px;
		color: #fff;
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 9;
		&.active {
			border-radius: 30px;
			border: 3px solid var(--White, #fff);
			background: var(--Red, #e73232);
			box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
		}
	}

	.title {
		color: #a9aec0;
		text-align: center;
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 600;
		&.active {
			color: #0a0000;
		}
	}
}
.preview-img {
	width: 90px;
	height: 90px;
	object-fit: cover;
	border: 1px solid #f3f3f3;
}
@media (max-width: 991px) {
	.modal-close-btn {
		top: -20px;
		right: -8px;
	}
	.mobile-modal-dialog {
		margin: 0px !important;
		min-height: 100%;
		align-items: end;
		max-width: 100%;
		.modal-content {
			border-radius: 30px 30px 0px 0px;
			border-bottom: 1px solid #f3f3f3;
			background: #fff;
			max-height: 80dvh;
			justify-content: end;
			&::-webkit-scrollbar {
				width: 0px;
			}
		}
		.modal-body {
			.filter-section {
				height: 70dvh;
				overflow: hidden;
				overflow-y: auto;
				&::-webkit-scrollbar {
					width: 0px;
				}
			}
		}
		.close-btn {
			position: absolute;
			top: 0.5rem;
			right: 1rem;
			font-size: 24px;
			z-index: 9;
		}
	}
}
