.breadcrumb {
	margin: 30px 0px !important;
	&-item {
		a {
			color: #0a0000;
			font-size: 14px;
			font-weight: 600;
			line-height: normal;
			text-decoration: none;
			font-family: 'Manrope', sans-serif;
		}

		&::before {
			content: '' !important;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M12.1717 12.0005L9.34326 9.17203L10.7575 7.75781L15.0001 12.0005L10.7575 16.2431L9.34326 14.8289L12.1717 12.0005Z'%3E%3C/path%3E%3C/svg%3E");
			height: 25px;
			width: 25px;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&:first-child {
			&::before {
				content: '' !important;
			}
		}

		&.active {
			a {
				color: #676666;
				font-weight: 400;
				text-decoration: none;
				font-family: 'Manrope', sans-serif;
			}
		}
	}
}
