.status-card {
	border-radius: 6px;
	border: 1px solid #f3f3f3;
	background: #fff;
	padding: 25px 30px;
	text-align: center;
	width: 100%;
	max-width: 230px;
	&-image {
		border-radius: 200px;
		border: 2px solid#FFEDED;
		padding: 18px;
		width: 65px;
		height: 65px;
		margin: 0 auto;
	}
	&-title {
		color: #676666;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		font-family: 'Manrope', sans-serif;
	}
	&-subtitle {
		color: #0a0000;
		font-size: 18px;
		font-weight: 800;
		line-height: normal;
		font-family: 'Manrope', sans-serif;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.status-card {
		max-width: 210px;
	}
}
