@use '../../styles/mixins.scss' as globalStyles;

.slick-dots {
	display: flex !important;
	border-radius: 30px;
	background: #0a0000;
	height: 30px;
	left: 50%;
	transform: translate(-50%);
	width: fit-content !important;

	li {
		margin: 0px 3px !important;

		button {
			&::before {
				color: #fff !important;
				padding: 0px !important;
				font-size: 10px !important;
				top: 5px !important;
			}
		}

		&.slick-active {
			button {
				&::before {
					color: #fff;
				}
			}
		}
	}
}
.slick-arrow {
	display: none !important;
}


.posted-job, .service-section{
@include globalStyles.common-box
}
