.banner-section {
	overflow: hidden;
	.slick-slide {
		padding: 0px 15px;
	}
	&-images {
		img {
			max-width: 1320px;
			margin: 0 auto;
			border-radius: 8px;
			border: 1px solid #f5f5f5;
			height: 500px;
			object-fit: cover;
		}
		&:focus-visible {
			outline: none;
		}
	}
	.slick-dots {
		bottom: -10px;
	}
}
@media(max-width:991px){
	.banner-section {
	.slick-slide {
		padding: 0px 5px;
	}
	&-images {
		img{
			width: 100%;
			max-width: 100%;
			height: 200px;
		}
	}
    }
}