.chat-box {
	border-radius: 10px;
	background: var(--White, #fff);
	&-user-name {
		border-bottom: 1px solid #f3f3f3;
		padding: 15px 20px;
		.profile {
			border-radius: 58px;
			width: 58px;
			height: 58px;
			object-fit: cover;
			border: 1px solid #f3f3f3;
		}
		.online-dot {
			width: 16px;
			height: 16px;
			border: 2px solid #fff;
			background: #009154;
			display: flex;
			border-radius: 50%;
			position: absolute;
			top: 0px;
			right: 0px;
		}
		.name {
			color: #0a0000;
			font-size: 18px;
			font-weight: 700;
			line-height: normal;
			font-family: 'Manrope', sans-serif;
		}
		.status {
			color: #676666;
			font-size: 14px;
			font-weight: 500;
			line-height: normal;
			font-family: 'Manrope', sans-serif;
		}
	}
	&-detail {
		padding: 20px 20px 60px;
		height: calc(100dvh - 385px);
		overflow: hidden;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 0px;
		}
		.left-div {
			&-content {
				max-width: 60%;
				span.text {
					color: #0a0000;
					font-size: 16px;
					font-weight: 400;
					line-height: normal;
					border-radius: 6px;
					padding: 8px;
					border: 1px solid #f3f3f3;
					width: fit-content;
					font-family: 'Manrope', sans-serif;
					word-break: break-all;
					.chat-time-text {
						font-size: 12px;
						margin-left: 4px;
					}
				}
				.document-div {
					.document-box {
						background: rgb(241 147 147 / 37%);
						.document-icon {
							color: #0a0000;
						}
					}
				}
			}
		}
		.right-div {
			max-width: 60%;
			margin-left: auto;
			&-content {
				align-items: end;
				span.text {
					color: #fff;
					font-size: 16px;
					font-weight: 400;
					line-height: normal;
					border-radius: 6px;
					padding: 8px;
					border: 1px solid #f3f3f3;
					width: fit-content;
					background: #e73232;
					font-family: 'Manrope', sans-serif;
					word-break: break-all;
					.chat-time-text {
						font-size: 12px;
						margin-left: 4px;
					}
				}
			}
		}
		.image-box {
			border-radius: 8px;
			overflow: hidden;
			width: 175px;
			height: 175px;
			object-fit: cover;
			&:after {
				content: '';
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			.chat-time {
				position: absolute;
				bottom: 5px;
				right: 12px;
				z-index: 1;
			}
		}
		.offer-div {
			.chat-time {
				font-size: 12px;
				display: flex;
				justify-content: end;
				margin-top: 5px;
			}
		}
		.document-div {
			.chat-time {
				font-size: 12px;
				display: flex;
				justify-content: end;
				margin-top: 5px;
			}
			.document-box {
				border-radius: 12px;
				background: rgba(255, 255, 255, 0.1);
				padding: 16px;
				.document-icon {
					font-size: 30px;
					color: #fff;
				}
				.document-info {
					background: #fff;
					color: #e73232;
					font-weight: 700;
					width: 26px;
					height: 26px;
					font-size: 12px;
					border-radius: 12px 0 12px 0;
					right: 0;
					bottom: 0;
					position: absolute;
				}
			}
		}
		.no-chat {
			background: #efefef;
			padding: 10px;
			border-radius: 6px;
			width: 100%;
			font-size: 16px;
			font-family: 'Manrope', sans-serif;
			max-width: 300px;
			text-align: center;
			font-weight: 600;
			margin: 0 auto;
		}
	}
	&-dropdown {
		i {
			color: #0a0000;
			font-size: 20px;
		}
		&-menu {
			border-radius: 8px;
			background: var(--White, #fff);
			box-shadow: 0px 4px 15px 0px rgba(200, 200, 200, 0.15);
			border: 0px;
			padding: 10px;
			width: 100%;
			min-width: 250px;
			.dropdown-item {
				border-bottom: 2px solid var(--Stroke, #f3f3f3);
				padding: 10px;
				color: var(--Title, #0a0000);
				font-family: 'Manrope', sans-serif;
				font-size: 16px;
				font-weight: 500;
				line-height: 24px;
				&:last-child {
					border-bottom: none;
				}
				&:active {
					background: #e73232;
					i {
						color: #fff;
					}
				}
				&.disabled {
					pointer-events: none;
					opacity: 0.5;
				}
			}
		}
	}
	&-offer-btn {
		border-radius: 6px;
		background: #e73232;
		padding: 10px 16px;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		line-height: normal;
		border: 0px;
		font-family: 'Manrope', sans-serif;
	}
	&-common-btn {
		border-radius: 6px;
		border: 1px solid #f3f3f3;
		padding: 9px 16px;
		color: #0a0000;
		font-size: 16px;
		font-weight: 600;
		line-height: normal;
		font-family: 'Manrope', sans-serif;
		&.red-border {
			border: 1px solid #e73232;
		}
	}

	&-input {
		border-top: 1px solid #f3f3f3;
		padding: 20px;
		&.bg-color {
			background: #f3f3f3;
			pointer-events: none;
		}
		.request-msg {
			color: #0a0000;
			font-size: 16px;
			font-weight: 500;
			line-height: 160%;
			padding: 0px 10px;
			font-family: 'Manrope', sans-serif;
		}
		.input-type {
			border: 0px;
			box-shadow: none;
		}
		button {
			i {
				font-size: 24px;
			}
			&:hover {
				color: #e73232;
			}
		}
		.text-area {
			height: auto !important;
			border: 0px;
			box-shadow: none;
			padding: 0px;
			padding: 0px 25px;
			&::-webkit-scrollbar {
				width: 0px;
			}
		}
	}
}
