.custom-toast {
	background-color: #ffffff;
	border-radius: 6px;
	padding: 10px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 400px;
	min-width: 350px;
	gap: 12px;
	position: relative;
	color: #0d6efd;
	font-family: 'Arial', sans-serif;
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
	overflow: hidden;
	animation:
		slideBounceIn 0.4s ease-out,
		fadeOut 0.4s ease-in forwards 9.6s;

	@keyframes slideBounceIn {
		0% {
			transform: translateY(-50%);
			opacity: 0;
		}
		60% {
			transform: translateY(10px);
			opacity: 1;
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	.title {
		font-size: 16px;
		font-weight: 600;
		color: #333;
	}
	.description {
		font-size: 14px;
		line-height: normal;
		color: #6c757d;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.small-logo {
		max-width: 50px;
		height: 50px;
		object-fit: cover;
	}
	.close-btn {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		width: 20px;
		height: 20px;
	}

	.toast-close {
		position: absolute;
		top: 10px;
		right: 10px;
		background: none;
		border: none;
		font-size: 18px;
		color: #6c757d;
		cursor: pointer;
		transition: color 0.2s ease;
		width: 15px;
		height: 15px;

		&:hover {
			color: #dc3545;
		}
	}

	.toast-icon {
		background-color: #0d6efd;
		color: #fff;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
	}

	.toast-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		.toast-title {
			font-weight: bold;
			font-size: 14px;
			margin-bottom: 4px;
			color: #333;
		}
		.toast-description {
			font-size: 12px;
			color: #6c757d;
			margin-bottom: 8px;
		}
	}

	.btn-primary {
		padding: 6px 12px;
		font-size: 12px;
		background-color: #0d6efd;
		border: none;
		border-radius: 6px;
		color: white;
		transition:
			background-color 0.2s ease,
			transform 0.2s ease;
		&:hover {
			background-color: #0056b3;
			transform: translateY(-2px);
		}
		&:active {
			transform: translateY(0);
		}
		&:focus {
			box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
		}
	}
}
