@use '../../styles/mixins.scss' as globalStyles;

.wallet-section {
	gap: 30px;

	&-title {
		color: #0a0000;
		font-size: 26px;
		font-weight: 800;
		line-height: normal;
	}

	@include globalStyles.form-react-select;

	&-amount {
		border-radius: 8px;
		background: #fff;
		padding: 30px;

		.wallet-icon {
			border-radius: 200px;
			border: 2px solid #ffeded;
			width: 84px;
			height: 84px;

			img {
				max-width: 30px;
			}
		}

		.title {
			color: #0a0000;
			font-size: 18px;
			font-weight: 500;
			line-height: normal;
		}

		.amount {
			color: #0a0000;
			font-size: 26px;
			font-weight: 800;
			line-height: normal;
		}
	}

	@include globalStyles.tabs;

	.tab-content {
		.content-title {
			color: #0a0000;
			font-size: 22px;
			font-weight: 700;
			line-height: normal;
			font-family: 'Manrope', sans-serif;
		}

		.wallet-cta {
			border-radius: 6px;
			background: #e73232;
			padding: 16px 40px;
			width: 100%;
			max-width: 400px;
			color: #fff;
			font-size: 16px;
			font-weight: 600;
			line-height: normal;
			display: block;
			border: 0px;
			margin-bottom: 30px;
			font-family: 'Manrope', sans-serif;
		}

		.hint-text {
			color: #0a0000;
			font-size: 16px;
			font-weight: 600;
			line-height: normal;
			font-family: 'Manrope', sans-serif;

			small {
				color: #676666;
			}
		}

		@include globalStyles.form-style;
		@include globalStyles.custom-table;
	}
}
.payment-page {
	max-width: 525px;
	margin: 0 auto;

	&-icon {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		padding: 23px;
		border-radius: 50px;

		i {
			font-size: 54px;
			color: #fff;
		}

		&.green {
			background: #009154;
		}

		&.red {
			background: #e73232;
		}
	}

	&-title {
		font-size: 26px;
		font-weight: 800;
		line-height: normal;
		text-align: center;
		font-family: 'Manrope', sans-serif;

		&.green {
			color: #009154;
		}

		&.red {
			color: #e73232;
		}
	}

	&-description {
		color: #676666;
		font-size: 16px;
		font-weight: 400;
		line-height: normal;
		text-align: center;
		font-family: 'Manrope', sans-serif;
	}

	&-box {
		border-radius: 8px;
		background: #fff;
		padding: 20px;
		gap: 40px;

		.title {
			color: #0a0000;
			font-size: 24px;
			font-weight: 700;
			line-height: 22px;
			font-family: 'Manrope', sans-serif;
		}

		.detail {
			color: #0a0000;
			font-size: 16px;
			font-weight: 400;
			line-height: normal;
			font-family: 'Manrope', sans-serif;
		}

		&-btn {
			border-radius: 6px;
			background: #e73232;
			padding: 16px 40px;
			color: #fff;
			font-size: 16px;
			font-weight: 600;
			line-height: normal;
			width: 100%;
			font-family: 'Manrope', sans-serif;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.loader-display {
	&::before {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #f9f9f9;
		opacity: 0.5;
		z-index: 1;
		top: 0px;
		left: 0px;
		content: '';
	}

	.spinner-border {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 2;
	}
}

.no-result {
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	font-family: 'Manrope', sans-serif;
}

@media (max-width: 767px) {
	.wallet-section {
		.tab-content {
			.content-title {
				font-size: 18px;
			}

			.custom-table {
				th {
					font-size: 14px;
					padding: 8px 15px;
				}

				td {
					font-size: 14px;
					padding: 8px 15px;
					white-space: nowrap;
				}
			}
		}

		&-amount {
			.wallet-icon {
				padding: 10px;
				width: 60px;
				height: 60px;

				img {
					max-width: 25px;
				}
			}
		}
	}
}
