.aboutUs-section {
	&-video-img {
		position: relative;
		img {
			width: 100%;
			max-width: 650px;
			height: 450px;
			object-fit: cover;
			border-radius: 12px;
		}
	}
	&-play-btn {
		border: 0px;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(22px);
		-webkit-backdrop-filter: blur(22px);
		border-radius: 100%;
		transform: translate(-50%, -50%);
		i {
			filter: invert(1);
			font-size: 30px;
		}
	}
}
