.footer-copyright {
	padding: 15px 40px;
	background: #fff;
	&-text {
		color: #676666;
		font-size: 14px;
		line-height: normal;
		font-family: 'Manrope', sans-serif;
	}
}
.footer {
	border: 4px solid #fff;
	background: #fff;
	box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.01);
	padding: 60px 40px 40px 40px;
	&-section1 {
		p {
			color: #676666;
			font-size: 16px;
			font-family: 'Manrope', sans-serif;
		}
		img {
			width: 100%;
			max-width: 200px;
			cursor: pointer;
		}
	}
	&-links {
		&-heading {
			color: #0a0000;
			font-size: 18px;
			font-weight: 800;
			line-height: normal;
			font-family: 'Manrope', sans-serif;
		}
		ul {
			list-style: none;
			margin-bottom: 0px;
			li {
				margin-bottom: 20px;
				a {
					color: #676666 !important;
					font-size: 16px;
					text-decoration: none;
					font-family: 'Manrope', sans-serif;
					cursor: pointer;

					&:hover {
						color: #e73232 !important;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.footer {
		padding: 20px;
	}
	.footer-copyright {
		padding: 16px;
	}
}
@media (max-width: 991px) {
	.footer-links {
		margin-top: 20px;
	}
}
