name: Deploy Frontend Application

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy frontend via Rsync (NO BUILD)
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY_LIVE }}
          REMOTE_HOST: ${{ secrets.SERVER_IP }}
          REMOTE_USER: ${{ secrets.SERVER_USER }}
          TARGET: /home/ubuntu/Matchcreators-Frontend/
          ARGS: >
            -rlgoDzvc --delete
            --exclude=node_modules
            --exclude=.git
            --exclude=.env

      - name: Build & Restart on Server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY_LIVE }}
          script: |
            cd /home/ubuntu/Matchcreators-Frontend/
            npm ci
            npm run build
            pm2 reload matchcreators-frontend-admin || \
            pm2 start "npm run preview" --name matchcreators-frontend-admin
            pm2 save
